<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <div class="login-signin">
        <h3 class="login-signup" >Your account is Verified , please Log in and Enjoy!  </h3>
        <br><br>
   
       <span >
            <a href="{% url 'user_login' %}" >Click_to_Login</a>
        </span>
   </div>
   
</body>
</html>